insert into jd_table_config
    (table_name, ignored_cols, watch_insert, watch_update, watch_delete, fire_dml_events, rtr_cols) VALUES
    ('$table', '{$csIgnoredCols}', $watchInsert, $watchUpdate, $watchDelete, $fireDmlEvents, '{$csRtrCols}');
