create or replace function jd_after_$table.name()_inserted_func()
    returns trigger
    language plpgsql
as $func
BEGIN
    insert into dml_event(stmt, tbl, data)
    select 'insert', '$table.name()',  jsonb_strip_nulls(to_jsonb(new_table.*)) as data
    from new_table;
    return null;
END $func;